<?xml version="1.0"?>
<launch>
    <arg name="resolution" default="3" /> <!--0=RESOLUTION_HD2K, 1=RESOLUTION_HD1080, 2=RESOLUTION_HD720, 3=RESOLUTION_VGA -->
    <arg name="frame_rate" default="20" />

    <include file="$(find zed_visual_odometry)/launch/zed.launch" ns="camera">
      <arg name="resolution"	value="$(arg resolution)" />
      <arg name="frame_rate"	value="$(arg frame_rate)" />
      <arg name="map"         value="false" />
      <arg name="odom"        value="true" />
      <arg name="rviz"        value="false" />
    </include>
  
    <!-- RTAB-map Node-->
    <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
      <arg name="cfg"             value="$(find zed_visual_odometry)/config/rtabmap.ini" />
      <arg name="rtabmap_args"    value="--delete_db_on_start" />
      <arg name="frame_id"        value="zed_camera_center" />
      <arg name="approx_sync"     value="false" />
      <arg name="visual_odometry" value="false" />
      <arg name="odom_topic"      value="/camera/odom" />
      <arg name="depth_topic"     value="/camera/depth/depth_registered" />
    </include>

</launch>
